#bichinho {
  width: 10px;
  height: 10px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) scale(8); /* aumenta o tamanho mantendo pixel art */
  image-rendering: pixelated;
}

.pixel {
  width: 1px;
  height: 1px;
  background-color: #444;
  box-shadow:
    1px 0 #444,
    2px 0 #444,
    3px 0 #444,
    0 1px #444,
    1 1px #000,
    2px 1px #000,
    3px 1px #444,
    1px 2 #444,
    2px 2px #444;
}
